[submodule "Vha.Build"]
	path = Vha.Build
	url = ../vha.build
[submodule "Vha.Common"]
	path = Vha.Common
	url = ../vha.common
[submodule "Vha.AOML"]
	path = Vha.AOML
	url = ../vha.aoml
[submodule "Vha.MDB"]
	path = Vha.MDB
	url = ../vha.mdb
[submodule "Vha.Net"]
	path = Vha.Net
	url = ../vha.net

