<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <MaximumMessages>250</MaximumMessages>
  <MaximumTexts>50</MaximumTexts>
  <MaximumHistory>25</MaximumHistory>
  <!-- Valid styles are: Default, Invert, Strip -->
  <TextStyle>Strip</TextStyle>
  <!-- Use http://address:port/ for http proxies -->
  <!-- Use socks4://address:port/ for socks4 proxies -->
  <!-- Use socks4a://address:port/ for socks4a proxies -->
  <!-- Use socks5://address:port/ for socks5 proxies -->
  <!-- Add "user:password@" before the address to use authentication -->
  <!-- Leave empty to not use any proxy server -->
  <Proxy></Proxy>
  <!-- Unique ignore list per: Dimension, Account or Character. -->
  <!-- To disable ignore feature all together, set to None. -->
  <IgnoreMethod>Account</IgnoreMethod>
  
  <!-- Last logged in dimension -->
  <Dimension></Dimension>
  <!-- Last logged in account -->
  <Account></Account>
  <!-- History of logged in accounts, including last logged in character per account -->
  <Accounts></Accounts>
</Config>